<h1 mat-dialog-title>
  {{ 'confirmation_dialog.delete_constructionSite.headline' | translate }}
</h1>
<div mat-dialog-content>
  {{ 'confirmation_dialog.delete_constructionSite.text' | translate }}
</div>
<div mat-dialog-actions style="display: flex; justify-content: space-between">
  <button mat-raised-button color="primary" mat-dialog-close>
    {{ "etc.form_actions.cancel" | translate }}
  </button>
  <button  mat-button  [mat-dialog-close]="true">
    {{ "etc.form_actions.yes" | translate }}
  </button>
</div>
