<h1 mat-dialog-title>
  {{ "etc.download_options" | translate }}
</h1>
<div mat-dialog-conten class="checkbox-container">

    <mat-checkbox [(ngModel)]="data.material" class="checkbox-margin">{{'construction.tabs.material' | translate }}</mat-checkbox>
    <mat-checkbox [(ngModel)]="data.worktime" class="checkbox-margin">{{'construction.tabs.working_hours' | translate }}</mat-checkbox>

</div>
<div mat-dialog-actions style="display: flex; justify-content: space-between">
  <button mat-raised-button color="primary" mat-dialog-close>
    {{ "etc.form_actions.cancel" | translate }}
  </button>
  <button mat-button [mat-dialog-close]="data">
    {{ "etc.form_actions.yes" | translate }}
  </button>
</div>
