
@import "../../../theme.scss";
$primary: map-get($baustellenverwaltung-frontend-theme, primary);
:not(.spinner-container) > :host{
    height: calc(100% - 94px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    text-align: center;
}

.headline{
    font-size: 5rem;
    margin-bottom: 16px;
    line-height: 1.1;
    color: mat-color($primary);
}
.text{
    font-size: 1.2rem;
    white-space: pre-line;
    line-height: 1.1;
}